In [2]:
import numpy as np
import pandas as pd

In [3]:
path = "appointment_data.csv"
data = pd.read_csv(path)
data.shape

(88421, 14)

In [3]:
col = ['No-show', 'PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received']

In [4]:
from sklearn.model_selection import train_test_split

# seleziono la feature di output... si molto inutile
y = data["No-show"]
# seleziono le features che compariranno nel DataSet
X = data[col]

# divido i dati in train (80%) e test (20%) e li mischio in modo da averli non ordinati,
# ma in modo deterministico (random_State = 42)  
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state=42)

In [5]:
train_X.head()

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
5821,No,5.554332e+13,5686868,F,2016-05-11T14:12:13Z,2016-05-13T00:00:00Z,55,JARDIM CAMBURI,0,0,0,0,0,0
30770,No,4.955162e+14,5668152,F,2016-05-06T08:34:32Z,2016-05-06T00:00:00Z,47,RESISTÊNCIA,0,0,0,0,0,0
51346,No,5.541574e+13,5751493,F,2016-05-31T10:13:24Z,2016-05-31T00:00:00Z,56,JESUS DE NAZARETH,1,1,1,0,0,0
3906,No,7.445846e+11,5732987,F,2016-05-24T13:07:59Z,2016-06-01T00:00:00Z,66,SÃO PEDRO,0,0,0,0,1,1
38879,No,5.395177e+13,5575893,F,2016-04-13T07:42:07Z,2016-05-13T00:00:00Z,0,JABOUR,0,0,0,0,0,0

In [6]:
# salvo i file in csv per utilizzarli nell'altro notebook
train_X.to_csv('train.csv', index=True)
test_X.to_csv('test.csv', index=True)